
.landing_page_body{
    background-color: #3A3B3C;
}
  
.open_model{
    background-color: #2554C7;
    height: 40px;
    width: 150px;
    margin-top: 300px;
    margin-left: 680px;
    border-radius: 16px;
    border: none;
    font-size: 17px;
    color: white;
}
.open_model:hover{transform: translateY(-2px);}

