.page_four_div_main{
    background-color: silver;
    width: 500px;
    height: 280px;
    margin-left: 450px;
    margin-top: 150px;
}
.page_four_div_one{
    background-color: brown;
}
.newjob{
    margin-left: 5px;
    font-size: 15px;
    color: #736F6E;
}
.page_four_div_two{
    background-color: green;
    height: 25px;
    margin-top: 5px;
    font-size: 18px;
}